{% extends 'core/base.html' %}

{% block title %}Inicio · Soid_Tf_2{% endblock %}

{% block content %}
<div class="app-container">
    <div class="app-grid">
        {% for module in modules %}
    <a href="{% url module.url_name %}" class="odoo-app">
        <div class="odoo-app-icon" style="background-color: {{ module.color|default:'#6772e5' }}">
            <span class="material-icons">
                {{ module.icon|default:"apps" }}
            </span>
        </div>
        <div class="odoo-app-name">
            {{ module.name }}
        </div>
    </a>
{% empty %}
    <p>No hay módulos activos.</p>
{% endfor %}

{% if user.is_staff %}
    <a href="{% url 'admin:index' %}" class="odoo-app">
        <div class="odoo-app-icon" style="background-color: #444;">
            <span class="material-icons">
                admin_panel_settings
            </span>
        </div>
        <div class="odoo-app-name">
            Administración
        </div>
    </a>
{% endif %}


    </div>
</div>
{% endblock %}
