{% extends 'core/base_sidebar.html' %}
{% load static %}

{% block sidebar_icon %}group{% endblock %}
{% block sidebar_role_label %}Miembros{% endblock %}

{% block sidebar_menu %}
<nav class="sidebar-nav">

    <!-- Dashboard -->
    <a href="{% url 'miembros_app:dashboard' %}"
       class="sidebar-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <span class="material-icons">dashboard</span>
        <span>Dashboard</span>
    </a>

    <!-- Gestión -->
    <div class="sidebar-section-title">Gestión</div>

    <a href="{% url 'miembros_app:lista' %}"
       class="sidebar-link {% if request.resolver_match.url_name == 'lista' %}active{% endif %}">
        <span class="material-icons">group</span>
        <span>Miembros</span>
    </a>


    <a href="{% url 'miembros_app:nuevo_creyente_lista' %}"
       class="sidebar-link {% if 'nuevo_creyente' in request.resolver_match.url_name %}active{% endif %}">
        <span class="material-icons">hail</span>
        <span>Nuevos creyentes</span>
    </a>

    <!-- Reportes -->
    <div class="sidebar-section-title">Reportes</div>

    <a href="{% url 'miembros_app:reporte_listado_miembros' %}"
       class="sidebar-link {% if request.resolver_match.url_name == 'reporte_listado_miembros' %}active{% endif %}">
        <span class="material-icons">table_chart</span>
        <span>Listado general</span>
    </a>



    <a href="{% url 'miembros_app:reportes_home' %}"
    class="sidebar-link {% if request.resolver_match.url_name == 'reportes_home' %}active{% endif %}">
        <span class="material-icons">assessment</span>
        <span>Reportes</span>

    </a>
    <a href="{% url 'miembros_app:mapa_miembros' %}"
   class="sidebar-link {% if request.resolver_match.url_name == 'mapa_miembros' %}active{% endif %}">
    <span class="material-icons">map</span>
    <span>Mapa de miembros</span>
</a>


</nav>
{% endblock %}

{% block page_content %}
    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block miembros_content %}{% endblock %}
{% endblock %}