name: Cron Motor Notificaciones

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  call-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Llamar al motor
        run: |
          curl -X GET \
            -H "X-CRON-TOKEN: ${{ secrets.CRON_TOKEN }}" \
            https://soid-tf-v2.onrender.com/notificaciones/cron/motor/
            